@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
/* //ovarall-style// */
*{
    padding: 0%;
    margin: 0%;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
/* //shared-style// */
.h{
    font-size: 48px;
    font-weight: 900;
    color: white;
}
.black{
    background-color: black;
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: none;
}
.btn:hover{
    border: 0.5px solid rgb(57, 57, 57);
    background-color: rgb(243, 140, 124);
}
.p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
/* header */
header{
    background: linear-gradient(180.00deg, rgb(1, 0, 0),rgba(53, 53, 53, 0) 100%);
    padding: 50px;
}
.header-container{
    max-width: 1400px;
    margin:0px auto;
}
/* nav-bar */
h3{
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
nav{
    justify-content: space-between;
}
ul{
    gap:47px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 37px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color:white;
    font-size: 1.3rem;
    font-weight: 400;
    padding:11px 19px;

}
.home{
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
}
.menu-icon{
    visibility: hidden;
}

/* banner */
/* left-banner */
.banner{
    max-width: 1400px;
    margin:0px auto;
    gap: 10vw;
    justify-content: space-between;
}
.banner-left{
    width: 520px;

}
.banner-left h1{
    font-size: 5.2rem;
    font-weight: 900;
    color: white;
}
.banner-left i{
    font-family: "Pinyon Script", cursive;
    font-weight: 300;
}
.banner-left p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin:15px 0px;
    color: rgba(255, 255, 255, 0.5);
}
.btn-2{
    background-color:transparent;
    border: 1px solid rgb(255, 255, 255);
}
/* right-banner */
.banner-right img{
    position: relative;
    left:0px;
    bottom:-70px;
    height:700px;
}
.banner-card-top{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 180px;
    padding: 15px 10px;
    flex-direction: column;
    position: relative;
    bottom:390px;
    right:-13vw;
}
.banner-card-top h2{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-align: left;
}
.banner-card-bottom{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 190px;
    padding: 15px 15px;
    flex-direction: row;
    position: relative;
    bottom: 190px;
    left:-5vw;
    gap: 10px;
}
.icon0{
    background-color: rgb(230, 83, 60);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.banner-card-bottom h4{
    font-size: 2rem;
    font-weight: 900;
    color: white;
    text-align: left;
}
/* habits */
.habits{
    max-width: 1050px;
    flex-direction: column;
    margin: 0px auto;

}
.habits h2{
    margin:100px 0px 0px 0px;
}
.habits .h-p{
    max-width: 671px;
    text-align: center;
    margin:40px 0px;
}

.habits-container{
    display: flex;
    gap:150px;
}
.habits-child{
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.habits-child h5{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}
.habits p{
    text-align: center;
}
.habits-child img{
    border-radius: 50%;
}

/* run-* */
.run{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    max-width: 1400px;
    margin: 100px auto 0px auto;
    justify-content: space-between;

}
.run-container{
    margin:50px;
}
.run-container p{
    margin:50px 0px;
}
    
.run img{
    width: 100%;
    border-radius: 18px;
}

/* bmi */
.bmi h2{
    font-size: 2rem;
    margin-bottom: 30px;
}
.title{
    
    flex-direction: column;
    margin: 0px auto;
    max-width: 650px;
    gap:30px;
    margin-top:50px ;
    margin-bottom: 50px;
}
.bmi{
    background: rgb(34, 34, 34);
    justify-content: space-around;
}
.chart{
    flex-direction: column;
    margin: 80px 0px;
    gap:40px;
}
table,head,td,th{
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0px;
    padding-left: 10px;
}
th{
    color:white;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.calculator{
    margin:70px 0px;
    max-width: 800px;
}
.input{
    width: 45%;
}

/* small-device */
@media screen and (max-width:599px) {
    /* .header */
    ul{
        visibility: hidden;
    }
    nav{
        align-items: center;
        gap:40vw;
    }
    .menu-icon{
        visibility: visible;
        font-size: 25px;
        color: white;
    }
    .banner{
        flex-direction: column;
        margin:0px 60px;
    }
    .header-container{
        max-width: 350px;
    }
    .banner-left{
        max-width: 350px;
        margin-top:30px;
    }
    .banner-left h1{
        font-size: 2.5rem;
    }
    .btn-2{
        margin-top:10px
    }
    .banner-right img{
        top:-20px
    }
    .banner-card-top{
        bottom:700px;
        left: 230px;
    }
    .banner-card-bottom{
        bottom: 500px;
        left: 15px;
    }
    /* habits.* */
    .habits-container{
        flex-direction: column;
    }

    /* run.0* */
    .run{
        max-width: 400px;
        flex-direction: column;
    }

}